:root {
  --primary: #89744f;
  --secondary: #4f6489;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}
body {
  background: #f9f9f9;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
label,
input {
  font-size: 1.6rem;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}
